* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    padding: 1%;
    background-color: forestgreen;
}

h1{
    font-size: 200%;
    padding: 2.5%;
    color: orangered;
}

nav ul{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    min-width: 400px;
    padding-right: 10%;
}

nav a{
    font-weight: bold;
    font-size: 125%;
    color:darkblue    
}

section{
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
}

h2{
    display: flex;
    font-size: 200%;
    color: orangered;
    padding: 10px;
    border-right: 2px solid springgreen;
    
}

article{
    display: flex;
    flex-direction: column;
}

p{
    padding-bottom: 1%;
}

div li{
    display: flex;
    flex-direction: column;
    padding: 80% 80% 20% 20%;
    border: solid 5px blue;
    margin: 5%;

}

div li:hover{
    background-color: crimson;
    color: antiquewhite;
}

div li:active{
    box-shadow: 0 0 10px black inset;
}

div span{
    font-size: 50%;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: forestgreen;  
}

h3{
    font-size: 200%;
    color: orangered;
    padding: 10px;
}

footer li{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 400px;
    padding-right: 10%;
    font-weight: bold;
    font-size: 100%;
    color: darkblue;
}

@media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
}